html, body {
  font-size: 16px;
}

h1 {
  font-size: 3.5rem;
}

.text-area {
  width: 100%;
  height: 10em;
  resize: vertical;
}

.log-container {
  max-height: 150px;
  overflow-y: scroll;
}

.chat-area {
  font-size: 1em;
}

.subline {
  font-size: 0.75em;
  color: #777;

  display: flex;
  justify-content: space-between;
}

[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.message {
  white-space: pre-wrap;
  border: 1px solid;
  border-left-width: 1em;
  padding: 0 1em;
}

.origin-remote {
  border-color: #31708f;
  margin-right: 25%;
}

.origin-local {
  border-color: #43a047;
  margin-left: 25%;
}

.color-container {
  border: 5px solid #a5fce0;
  padding: 0.5em;
}